<section class="bg-zinc-900 p-5 rounded-xl my-4 text-center">
    <h2 class="text-4xl font-bold my-5 ">About Us</h2>
    <p class="text-zinc-300">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem assumenda ab asperiores sunt officia. Excepturi iure cum id, itaque repellendus nam tenetur possimus repellat? Modi corrupti dolores ea eaque dicta!</p>

</section>

