---
import Layout from "../layouts/layout.astro"
---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi dolore rerum quidem officia itaque vero laudantium culpa officiis doloremque? Quidem iure labore asperiores odit fugiat itaque a earum voluptate esse. Unde doloribus nisi deleniti nobis, porro asperiores qui ipsam est. Iusto, ipsa non neque incidunt veniam unde provident odio sint, autem consectetur, ut aspernatur inventore mollitia alias eligendi repellendus perspiciatis quisquam minima nemo facilis ipsam a? Officia, labore nesciunt? Saepe quod nesciunt praesentium. Explicabo doloremque sed dolorum nostrum. Ut excepturi asperiores molestias perspiciatis animi, nesciunt itaque ad hic in sed id laboriosam modi rerum, nulla recusandae laborum dolorum necessitatibus expedita!</p>
</Layout>