<footer class="bg-zinc-900 flex py-10 mt-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left gap-4">
        <div>
            <h4 class="font-bold text-xl">Site Map</h4>
            <a class="link" href="/">Home</a>
            <a class="link" href="/about">About</a>
            <a class="link" href="/pricing">Pricing</a>
        </div>
        <div>
            <h4 class="font-bold text-xl text-center">Site</h4>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>
        </div>
        <div>
            <h4 class="font-bold text-xl">Social Links</h4>
            <a class="link1" href="/">Twitter</a>
            <a class="link1" href="/">Tiktok</a>
            <a class="link1" href="/">Facebook</a>
            <a class="link1" href="/">Instagram</a>
        </div>
    </div>
</footer>

<style>
    .link {
        display: block;
        text-align: center;
    }
    .link1 {
        display: block;
        text-align: center;
    }
</style>